/* style.css */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px; 
}

.login h1 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    white-space: nowrap; 
    font-size: 24px; 
}

.login input[type="text"],
.login input[type="number"] {
    width: calc(50% - 12px); 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login input[type="text"]:focus,
.login input[type="number"]:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

.input-group {
    display: flex;
    justify-content: space-between;
    gap: 10px; 
}

.login button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.login button:hover {
    background: #0056b3;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
